rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Collection: users
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
		
    // Collection: causes
    // All authenticated users can read cause data, but never change it.
    match /causes/{causeId} {
    	allow read: if request.auth != null;
      allow write: if false;
    }
		
    // Collection: transactions
    // Users should be able to read transactions associated with them.
    match /transactions/{transactionId} {
    	allow read: if request.auth != null && get(resource.data.user).id == request.auth.uid;
      allow write: if false;
    }
		
    // Collection: transactions_formatted_for_google_sheets
    // This is a special-purpose collection for sending data to Zapiper.
    // No users should have access to this.
    match /transactions_formatted_for_google_sheets/{tffgsId} {
      allow read, write: if false;
    }
  }
}
