/* Keeping it simple for now with a single stylesheet. */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.cursor-hover:hover {
    cursor: pointer;
}

#budgetSelector .selected {
    border-color: rgb(13, 110, 253) !important;
}